body
{
	background-image: url('salsaimg.png');
}

h2
{
	font-size: 2.5em;
	text-align: center;
	text-decoration: underline;
}
h1
{
	font-size: 4em;
	text-decoration: underline;
}

.titre_img
{
	text-align: center;
}

.images
{
	float: right;
}

.images2
{
	float: left;
}

p
{
	font-size: 1.5em;
}